{"openapi":"3.1.0","info":{"title":"monjo-fastapi-01","summary":"backend api for monjo","description":"this is for the backend api for monjo","version":"0.0.1-alpha"},"servers":[{"url":"https://api.monjoai.com","description":"prod"},{"url":"http://127.0.0.1:8000","description":"dev"}],"paths":{"/mflix/find_one/{year}":{"get":{"tags":["mflix"],"summary":"Find One By Year","operationId":"find_one_by_year","parameters":[{"name":"year","in":"path","required":true,"schema":{"type":"integer","maximum":2033,"minimum":1800,"title":"Year"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Movie"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/mflix/find_multiple/{year}":{"get":{"tags":["mflix"],"summary":"Find Multiple By Year","operationId":"find_multiple_by_year","parameters":[{"name":"year","in":"path","required":true,"schema":{"type":"integer","maximum":2033,"minimum":1800,"title":"Year"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Movie"},"title":"Response Find Multiple By Year Mflix Find Multiple  Year  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/mflix/create_one":{"post":{"tags":["mflix"],"summary":"Create One","operationId":"create_one","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MovieCreate"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":{"type":"string"},"type":"object","title":"Response Create One Mflix Create One Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/mflix/replace_one_by_id":{"post":{"tags":["mflix"],"summary":"Replace One By Id","operationId":"replace_one_by_id","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Movie"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":{"type":"string"},"type":"object","title":"Response Replace One By Id Mflix Replace One By Id Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/mflix/delete_one_by_id":{"delete":{"tags":["mflix"],"summary":"Delete One By Id","operationId":"delete_one_by_id","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Movie"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":{"type":"string"},"type":"object","title":"Response Delete One By Id Mflix Delete One By Id Delete"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/":{"get":{"tags":["HealthCheck"],"summary":"AWS ALB and Target Group HealthCheck endpoint","operationId":"get_root","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthCheck"}}}}}}}},"components":{"schemas":{"Awards":{"properties":{"wins":{"type":"integer","title":"Wins"},"nominations":{"type":"integer","title":"Nominations"},"text":{"type":"string","title":"Text"}},"type":"object","required":["wins","nominations","text"],"title":"Awards"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"HealthCheck":{"properties":{"message":{"type":"string","title":"Message"}},"type":"object","required":["message"],"title":"HealthCheck"},"Imdb":{"properties":{"rating":{"type":"number","title":"Rating"},"votes":{"type":"integer","title":"Votes"},"id":{"type":"integer","title":"Id"}},"type":"object","required":["rating","votes","id"],"title":"Imdb"},"Movie":{"properties":{"plot":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Plot"},"genres":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Genres"},"runtime":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Runtime"},"cast":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Cast"},"poster":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Poster"},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title"},"fullplot":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fullplot"},"languages":{"anyOf":[{},{"type":"null"}],"title":"Languages"},"released":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Released"},"directors":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Directors"},"rated":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Rated"},"awards":{"anyOf":[{"$ref":"#/components/schemas/Awards"},{"type":"null"}]},"lastupdated":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Lastupdated"},"year":{"type":"integer","maximum":2033.0,"minimum":1800.0,"title":"Year"},"imdb":{"anyOf":[{"$ref":"#/components/schemas/Imdb"},{"type":"null"}]},"countries":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Countries"},"type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Type"},"tomatoes":{"anyOf":[{},{"type":"null"}],"title":"Tomatoes"},"num_mflix_comments":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Num Mflix Comments"},"_id":{"type":"string","format":"bson objectid to str","title":" Id"}},"type":"object","required":["year","_id"],"title":"Movie"},"MovieCreate":{"properties":{"plot":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Plot"},"genres":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Genres"},"runtime":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Runtime"},"cast":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Cast"},"poster":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Poster"},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title"},"fullplot":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fullplot"},"languages":{"anyOf":[{},{"type":"null"}],"title":"Languages"},"released":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Released"},"directors":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Directors"},"rated":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Rated"},"awards":{"anyOf":[{"$ref":"#/components/schemas/Awards"},{"type":"null"}]},"lastupdated":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Lastupdated"},"year":{"type":"integer","maximum":2033.0,"minimum":1800.0,"title":"Year"},"imdb":{"anyOf":[{"$ref":"#/components/schemas/Imdb"},{"type":"null"}]},"countries":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Countries"},"type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Type"},"tomatoes":{"anyOf":[{},{"type":"null"}],"title":"Tomatoes"},"num_mflix_comments":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Num Mflix Comments"}},"type":"object","required":["year"],"title":"MovieCreate"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}}}